@use "../global" as g;

.l-header {
  background-color: g.$color-bg;
  &__container {
    padding: 0 40px;
    padding-top: 40px;
    gap: 40px;
    position: relative;
  }
  &__logo {
    position: absolute;
    left: 8vw;
    bottom: 0;
    width: 6vw;
    z-index: 1;
  }
  &__nav {
    position: relative;
    &__list {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 25px;
      max-width: 1000px;
      margin: 0 auto;
    }
    &__link {
      transition: transform 0.2s ease, box-shadow 0.2s ease;
      position: relative;
      z-index: 1;
      width: 6vw;
      &:hover {
        transform: scale(1.1); /* 少し拡大 */
      }
    }
    &__item {
      &__logo {
        display: flex;
        justify-content: center;
        width: 60px;
        height: 45px;
        margin: 0 auto;
      }
      &__text {
        font-size: clamp(0.438rem, 0.055rem + 0.798vw, 0.75rem);
        //font-size: 0.75rem;
        font-weight: bold;
        padding-top: 12px;
        text-align: center;
      }
    }
  }
}